{% extends "learning_logs/base.html" %}

<!--放大在主页中呈现项目的简要描述-->
{% block header %}
    <div class='jumbotron'>
        <h2>Learning Notebook</h2>
    </div> 
    <iframe frameborder="0" border="1" 
    marginwidth="0" marginheight="0" 
    width=100% height=177 
    src="//music.163.com/outchain/player?type=2&amp;&id=483717360&auto=1&height=66">
    </iframe> 
{% endblock header %}


{% block content %}
<h3>
    <a href="{% url 'users:register' %}">Register an account</a> to make
    your own Learning Notebook.
</h3>
<h3>
    Whenever you learn something new about a topic, make an entry
    summarizing what you've learned.
</h3>
<div align=center><img src = 'https://tse2-mm.cn.bing.net/th/id/OIP.nQCV4r530eRGjz5zB0U5hgHaFn?w=276&h=209&c=7&o=5&dpr=1.56&pid=1.7'></div>
{% endblock content %}